In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.linear_model import LinearRegression
from sklearn.model_selection import ShuffleSplit

In [2]:
employee_data = pd.read_csv("../Data/regression_employee_data.csv")

In [3]:
employee_data.head()

,Emp #,Designation,Experience,Salary,AggrBehavScore,ActivityScore,LinesOfCode,Qualification,Degree,YearsOfStudy,EducationalInstitute,Gender,Empl_Band
0,e1,Director,16.0,85861,0.526928,5,1678,Grad,NaN,15.0,clg,M,A
1,e2,Jr.Dev,3.0,25376,6.420421,18,6082,Grad,Btech,16.0,clg,F,C
2,e3,Sr.Dev,6.0,38193,2.802337,7,2927,PostGrad,Msc,17.0,unv,M,B
3,e4,Jr.Dev,3.0,22807,9.374888,23,10249,NaN,Mtech,18.0,NaN,F,C
4,e5,Sr.Dev,4.0,37624,3.336564,10,3159,NaN,Btech,16.0,NaN,F,B

* Step 1: Split data into Train and Test

In [4]:
shuffleSplit = ShuffleSplit(n_splits=1, test_size=0.2, random_state=33)
for train_index, test_index in shuffleSplit.split(employee_data):
    train_set = employee_data.loc[train_index]
    test_set = employee_data.loc[test_index]

In [5]:
train_set.shape

(1209, 13)

In [6]:
test_set.shape

(303, 13)

* Impute null

In [7]:
train_set.loc[train_set[train_set['LinesOfCode'] < 0].index.values, 'LinesOfCode'] = 0

In [8]:
YearsOfStudy_impute_value = train_set['YearsOfStudy'].mode().values[0]
train_set['YearsOfStudy'].fillna(YearsOfStudy_impute_value, inplace=True)

In [9]:
Qualification_impute_value = train_set['Qualification'].mode().values[0]
train_set['Qualification'].fillna(Qualification_impute_value, inplace=True)

In [10]:
Degree_impute_value = train_set['Degree'].mode().values[0]
train_set['Degree'].fillna(Degree_impute_value, inplace=True)

In [11]:
EducationalInstitute_impute_value = train_set['EducationalInstitute'].mode().values[0]
train_set['EducationalInstitute'].fillna(EducationalInstitute_impute_value, inplace=True)

* Convert all categorical features to numbers

In [12]:
train_set.drop('Emp #', axis=1, inplace=True)

* Let's convert categorical columns to numbers (Label Encoding)

In [13]:
cat_list_dict = {'Designation': ['Sr.Dev', 'Analyst', 'Sr.Analyst', 'Manager', 'Jr.Dev', 'Director', 'Sr.Manager'],
                'Qualification': ['Grad', 'PostGrad', 'Phd', 'postdoc'],
                'Degree': ['Btech', 'Bsc', 'Msc', 'Mba', 'IntMsc', 'B.A', 'Mtech'],
                'EducationalInstitute' : ['unv', 'iit', 'clg', 'cunv'],
                'Gender': ['M', 'F'],
                'Empl_Band': ['B', 'C', 'A']}

In [14]:
def convertCategorisToCodes(columns, df):
    for column in columns:
        df[column] = pd.Categorical(df[column], categories = cat_list_dict[column])
        df[column] = df[column].cat.codes

In [15]:
convertCategorisToCodes(train_set.select_dtypes(['object']).columns.values, train_set)

* Let's build a Polynomial Regressin model

In [16]:
train_X = train_set.loc[:, ['Designation', 'Experience', 'AggrBehavScore', 'ActivityScore', 'LinesOfCode', 'Qualification',
 'Degree', 'YearsOfStudy', 'EducationalInstitute', 'Gender', 'Empl_Band']]
train_y = train_set['Salary']

* When we raise the dataset to "d" - degree polynomial, the number of columns in dataset becomes to (n + d)!/n! d!

In [17]:
train_X.shape

(1209, 11)

In [18]:
from sklearn.preprocessing import PolynomialFeatures
poly_features = PolynomialFeatures(degree=2, include_bias=True)
train_X_poly = poly_features.fit_transform(train_X)
train_X_poly.shape

(1209, 78)

In [19]:
poly_model = LinearRegression()
poly_model.fit(train_X_poly, train_y)

LinearRegression()

In [20]:
train_prediction = poly_model.predict(train_X_poly)

In [21]:
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error

In [22]:
train_r2_score = r2_score(train_y, train_prediction)
train_mse = mean_squared_error(train_y, train_prediction)

print("Train R2 Score : ", train_r2_score)
print("Train Mean Squared Error : ", train_mse)
print("Train Root Mean Squared Error : ", np.sqrt(train_mse))

Train R2 Score :  0.9089509097675514
Train Mean Squared Error :  33975622.82261561
Train Root Mean Squared Error :  5828.861194317086

* Let's test the model on TEST set

In [23]:
test_set.loc[test_set[test_set['LinesOfCode'] < 0].index.values, 'LinesOfCode'] = 0
test_set.drop('Emp #', axis=1, inplace=True)
test_set['YearsOfStudy'].fillna(YearsOfStudy_impute_value, inplace=True)
test_set['Qualification'].fillna(Qualification_impute_value, inplace=True)
test_set['Degree'].fillna(Degree_impute_value, inplace=True)
test_set['EducationalInstitute'].fillna(EducationalInstitute_impute_value, inplace=True)
convertCategorisToCodes(test_set.select_dtypes(['object']).columns.values, test_set)

In [24]:
test_X = test_set.loc[:,['Designation', 'Experience', 'AggrBehavScore', 'ActivityScore', 'LinesOfCode', 'Qualification',
 'Degree', 'YearsOfStudy', 'EducationalInstitute', 'Gender', 'Empl_Band']]
test_y = test_set['Salary']

In [25]:
test_X.dtypes

Designation                int8
Experience              float64
AggrBehavScore          float64
ActivityScore             int64
LinesOfCode               int64
Qualification              int8
Degree                     int8
YearsOfStudy            float64
EducationalInstitute       int8
Gender                     int8
Empl_Band                  int8
dtype: object

In [26]:
test_X_poly = poly_features.transform(test_X)
test_X_poly.shape

(303, 78)

In [27]:
test_prediction = poly_model.predict(test_X_poly)

In [28]:
test_r2_score = r2_score(test_y, test_prediction)
test_mse = mean_squared_error(test_y, test_prediction)

print("TEST R2 Score : ", test_r2_score)
print("TESt Mean Squared Error : ", test_mse)
print("TEST Root Mean Squared Error : ", np.sqrt(test_mse))

TEST R2 Score :  0.9103571772225845
TESt Mean Squared Error :  35230128.041615605
TEST Root Mean Squared Error :  5935.497286800459

In [29]:
import pickle

In [30]:
poly_features_out = open("poly_feature_transfomar.pkl","wb")
poly_model_out = open("poly_reg_model.pkl","wb")

pickle.dump(poly_features, poly_features_out)
pickle.dump(poly_model, poly_model_out)

poly_features_out.close()
poly_model_out.close()

### Simmulated Production Move

In [31]:
prod_employee_data = pd.read_csv("../Data/regression_employee_data.csv")

In [32]:
prod_employee_data.loc[test_set[test_set['LinesOfCode'] < 0].index.values, 'LinesOfCode'] = 0
prod_employee_data.drop('Emp #', axis=1, inplace=True)
prod_employee_data['YearsOfStudy'].fillna(YearsOfStudy_impute_value, inplace=True)
prod_employee_data['Qualification'].fillna(Qualification_impute_value, inplace=True)
prod_employee_data['Degree'].fillna(Degree_impute_value, inplace=True)
prod_employee_data['EducationalInstitute'].fillna(EducationalInstitute_impute_value, inplace=True)
convertCategorisToCodes(prod_employee_data.select_dtypes(['object']).columns.values, test_set)

In [33]:
prod_employee_data_X = test_set.loc[:,['Designation', 'Experience', 'AggrBehavScore', 'ActivityScore', 'LinesOfCode', 'Qualification',
 'Degree', 'YearsOfStudy', 'EducationalInstitute', 'Gender', 'Empl_Band']]
#prod_employee_data_y = test_set['Salary']

In [34]:
poly_features_in = open("poly_feature_transfomar.pkl","rb")
poly_model_in = open("poly_reg_model.pkl","rb")

poly_features_pkl = pickle.load(poly_features_in)
poly_model_pkl = pickle.load(poly_model_in)

#prod_X = ...
prod_X_poly = poly_features_pkl.transform(prod_employee_data_X)
prod_prediction = poly_model_pkl.predict(prod_X_poly)

In [35]:
prod_prediction

array([107075.05615359, 103541.22005823, 158199.01212844, 104535.97789399,
        98309.4601377 , 183898.21130624,  99593.92196134, 109829.78169681,
       101653.38967258,  92690.70868225, 154841.24488418, 115907.21181935,
       123971.38979537, 168466.75791128, 104392.52523513, 130755.47660957,
       197854.64162302, 105835.93062449, 134466.18617575, 103453.31407893,
       106261.34795128, 333123.11445163, 118379.61046964, 101235.7101164 ,
       101954.24285083, 344759.11168813, 133652.90240561,  80545.4375483 ,
        94285.00920153, 139156.01247513, 180631.00718334, 153400.28016804,
        91467.90976986, 110896.08906912, 131322.440331  , 117675.89559502,
        80884.04719366, 128039.64943549, 127137.8968465 , 113247.34226384,
        80897.11193447, 151481.97219697, 107646.80248815, 165600.18772153,
       101253.03591973, 100893.45205284,  98668.23728198,  90769.33513725,
       150599.79440122,  94115.1254356 ,  93231.34177011, 119043.30560146,
       286652.03440974,  96507.2698928 ,  97291.60898692, 288573.55713396,
        92440.795121  ,  83123.18058741, 131564.58045543, 190832.15127905,
       139566.90915621, 105698.87695359, 102798.93750328, 291644.07328616,
       113779.37699314, 126457.1412461 , 102695.06061913, 134001.21662974,
       104408.4669985 , 119485.14833102, 119777.72296917, 126269.1025387 ,
       130321.99728387,  96318.40065328, 162696.99987739, 153022.50894173,
       120183.02115909, 116457.34723121, 117216.8761949 , 174369.34342857,
        80066.62280947, 336233.85582727, 149445.56187846,  95167.02531356,
       120532.45779289, 106288.4812939 ,  95619.08231016, 283226.87435925,
       106453.05836288,  95492.69587221, 138638.98443521,  98893.80477821,
       176740.2533697 ,  91184.06276302,  94864.31136759, 121606.39620757,
       117623.40966512, 145513.5975422 , 122182.3950348 ,  82212.63682585,
        98227.77546963, 121982.50158048,  87385.37231942, 118922.57306005,
       112213.14777345, 131385.77111813, 281548.54320766, 119284.9643229 ,
       127458.15816668, 101941.00190226, 105914.65056918, 125841.62976634,
        99208.51268626, 129009.8155571 ,  90503.9025358 ,  79586.82493117,
       204228.29015556,  93138.43672444,  84037.98188326, 124569.36912009,
       106888.37291591, 107614.78520907, 120032.93551281, 114681.87891762,
       106356.78491453, 118153.71325148, 153846.27968031,  86209.14002385,
       118233.82447166, 173059.73382555, 120967.40937998,  81169.19953915,
       117626.53967524, 180865.47767104,  91850.46609899,  99334.04046624,
        85940.08144676, 114677.69716183,  94509.67390659,  97195.36844938,
        80236.01175165, 104663.88197855, 105083.31366809, 158652.00798822,
       114191.94400259, 107197.6150115 , 129476.00071679, 179205.13026038,
       101386.97031777, 118284.12625496,  90751.06022211, 103888.31698069,
       174730.54363335, 105764.27984244, 162508.37626524, 121841.96926826,
       133311.24701091, 202475.06198403,  90962.58812084,  88915.68066299,
       194934.61980341, 100288.71848263,  80792.42354573, 155090.75268104,
        91524.36302926, 112699.97291981,  98352.49979375,  88069.85830075,
        97499.45153261,  83961.91991781, 106233.43184255, 107095.5021279 ,
        81464.79293127, 178709.35883631, 185076.50995293,  90709.70625078,
       106618.28722443, 120292.57856114, 154551.53561467, 116921.79372682,
       204898.26071261, 208903.16444587, 136846.78935363, 142618.76588073,
        89406.45584199, 119597.65066601, 159074.12088164, 105983.48191638,
        98675.33782237, 106042.18141423, 214339.86218473,  92299.11429441,
       103992.96776149, 103226.2129089 , 119501.64174224, 291946.24950706,
       125180.78834714,  82742.05404374,  85146.42440322,  78427.9866411 ,
       115917.64386911, 186310.74140612,  98006.977032  , 131611.58714963,
       131164.69287128,  99832.51977995, 126895.43015675, 118507.14108271,
       150064.32804167, 105065.21839783,  87319.66092489,  94235.75478013,
        91226.66427498,  95560.05458149, 122274.39385332,  95959.29462157,
       132671.17109429, 173234.96693414, 155458.65753791, 187163.34947975,
       129010.19755646,  92266.23247691, 130236.91659104,  99151.52832172,
       100393.24093171, 124940.65713566, 140978.78120975, 112806.12858593,
        89685.63076381,  84687.06925585, 125908.8470111 , 140837.3971292 ,
       158072.77655322, 113698.52927553, 105107.09013276,  93424.05317335,
       134392.8619734 , 128726.85092333,  93080.02397985, 163583.74942799,
       137466.58995741,  84910.87914767, 135858.58984638, 146083.59851438,
        82354.22071047, 339978.29705047, 115394.50683945, 200707.67915723,
        85131.99514565, 103966.82403056, 167124.034868  , 158717.62031923,
       136351.66912524, 102074.64760994,  80889.14902341, 120224.99127882,
        88464.41043203,  90230.19870901, 114452.25219156, 152660.44535792,
       124117.34020007, 172063.89616946,  79264.45449156,  93029.95154141,
       106499.63781132,  79834.20341356, 100275.01980352,  77968.04364263,
       109073.04901946,  98882.42625568, 182211.93322505, 174065.43384924,
       196509.89473119, 105658.54091406, 128547.54730795, 142866.6462038 ,
       123624.23157578,  84710.38986846, 122126.86515928, 122288.21186525,
       146736.56992155, 123038.28145659, 131198.33352955,  82606.13655698,
       155966.24042966, 121193.30376169, 129148.12506667, 104464.07418159,
        98821.87756281, 111602.27490014, 107733.17942136, 141601.01790512,
       123624.28274426,  81163.45068373, 105351.32513492, 133891.03164065,
        84372.87230145,  82106.75856063, 219596.17418225, 102459.92894051,
       124625.92403337,  80262.89009862, 131249.7161139 ])

https://services.math.duke.edu/education/ccp/materials/mvcalc/surfaces/surf2.html