### Functions

In [16]:
def simpleMethod(var1, var2, var3):
    print("Printing var1 : ", var1)
    print("Printing var2 : ", var2)
    print("Printing var3 : ", var3)

In [18]:
simpleMethod(6, 'abc', 'xyz')

Printing var1 :  6
Printing var2 :  abc
Printing var3 :  999

* Variable-length argument

In [9]:
def starArgs(*vals):
    #print('inside : ', type(vals))
    for x in vals:
        print(x)

In [12]:
starArgs(839, 2929, 'Rama', True, 89, 282, 919,2920,101, [89, "aaa", 9292, 99])

839
2929
Rama
True
89
282
919
2920
101
[89, 'aaa', 9292, 99]

In [18]:
lst = ['rama', 'gopal', 'madan', 'krishna']

starArgs(10, lst, 123, 8, 9,9,1221,990)

10
['rama', 'gopal', 'madan', 'krishna']
123
8
9
9
1221
990

* Default arguments

In [19]:
def fib(n = 100):    # write Fibonacci series up to n
    """Print a Fibonacci series up to n."""
    result = []
    a, b = 0, 1
    while a < n:
        result.append(a)
        a, b = b, a+b   
    return result

In [22]:
fib(500)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377]

* Keyworded, variable-length argument list, the arguments will receive key, value pairs as values

In [37]:
def kwargs(**keywords):
    print(type(keywords))
    for k, v in enumerate(keywords.items()):
        print(k, ":", v)

In [38]:
kwargs(shopkeeper="John",
           client="Mark", 
           cheese_type="Fresh Cheese")

<class 'dict'>
0 : ('shopkeeper', 'John')
1 : ('client', 'Mark')
2 : ('cheese_type', 'Fresh Cheese')

In [62]:
def cheeseshop(kind1, kind2="Form Cheese", *arguments, **keywords):
    print("Q) Do you have any", kind1, "--", kind2, "?")
    print("Ans) We do have ")
    for arg in arguments:
        print(arg)
    print("-" * 40)
    for kw in keywords:
        print(kw, ":", keywords[kw])

In [63]:
cheeseshop("Cheese", "Second Cheese", "Third Cheese", "Fourth Cheese")

Q) Do you have any Cheese -- Second Cheese ?
Ans) We do have
Third Cheese
Fourth Cheese
----------------------------------------

### Built-in Functions 
  * https://docs.python.org/3/library/functions.html

* range function

In [51]:
range(10)

range(0, 10)

In [54]:
for i in range(0,10, 2):
    print(i)

0
2
4
6
8

* enumerate function

In [1]:
lst1 = ['Rama', 'Krishna', 'John', 'Ali']
for k, v in enumerate(lst1):
    print(k, ' -- ', v)

0  --  Rama
1  --  Krishna
2  --  John
3  --  Ali

* zip() function : To loop over two or more sequences at the same time, the entries can be paired with the zip() function.

In [4]:
emp1 = ['Ajay', '1500', 'Feb 9th 2016']
emp2 = ['Vikram', '1000', 'Jan 1st 2010']
emp3 = ['Karteek', '2000', 'Dec 5th 2017']
for tup in zip(emp1, emp2, emp3):
    print(tup)

('Ajay', 'Vikram', 'Karteek')
('1500', '1000', '2000')
('Feb 9th 2016', 'Jan 1st 2010', 'Dec 5th 2017')

In [27]:
type(zip(emp1, emp2, emp3))

zip

In [5]:
zp = zip(emp1, emp2, emp3)
print(list(zp))

[('Ajay', 'Vikram', 'Karteek'), ('1500', '1000', '2000'), ('Feb 9th 2016', 'Jan 1st 2010', 'Dec 5th 2017')]

### lambda functions

In [8]:
lst = ['Orange', 'Mango', 'Apple']
print('original list', lst)
print('sorter list', sorted(lst))

original list ['Orange', 'Mango', 'Apple']
sorter list ['Apple', 'Mango', 'Orange']

In [28]:
fruits_cals = {"Apple": 95, "Orange": 2, "Mango": 202}

In [29]:
print(type(fruits_cals))

<class 'dict'>

In [30]:
sorted(fruits_cals)

['Apple', 'Mango', 'Orange']

In [83]:
for kv in fruits_cals.items():
    print(kv)

('Apple', 95)
('Orange', 2)
('Mango', 202)

In [84]:
sorted(fruits_cals, key = lambda x: x[1])

['Mango', 'Apple', 'Orange']

In [57]:
def fun2(x):
    print(x)
    return x[0]

In [58]:
sorted(fruits_cals.items(), key=lambda item: fun2(item))

('Apple', 95)
('Orange', 2)
('Mango', 202)

[('Apple', 95), ('Mango', 202), ('Orange', 2)]

In [56]:
{k:v for k, v in sorted(fruits_cals.items(), key=lambda item: item[1])   }

{'Orange': 2, 'Apple': 95, 'Mango': 202}